.mole-cont {
    background: #ffc600;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.alldirt {
    margin-top: 10px;
    margin-left: 150px;
}

.dirtsvg {
    width: 16.5%;
    margin: 20px;
    margin-top: 100px;
}

.mole-left {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
}

.mole-settings {
    width: 50vw;
    background-color: red;
}